.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  /* margin-top: 20%; */
  padding-bottom: 2%;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

input {
  padding: 12px 40px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgb(30, 144, 255);
  border: 1px solid gray;
  font-size: 20px;
  margin-top: 1%;
  text-align: center;
  background-color: white;
}

#submit {
  margin-top: 5%;
  width: 40%;
  text-align: center;
}
